<div class="footer">
 
  <div id="company">
   <h2>GitHub Searcher</h2><hr>
   <h2>Company</h2>
   <ul>
       <li routerLink="home">Home</li>
       <li router="about-us">About Us</li>
       <li routerLink="github-search">Git-Community</li>
       <li routerLink="contact">Contact Us</li>
   </ul>
   <div id="contact">
    <h2>Contact Us</h2>
     <ul>
         <li>Jobs</li>
         <li>Support</li>
         <li>Contact</li>
         <li>Scholarships</li>
     </ul>
  </div>
  <div id="social">
  <h2>Social media</h2>
   <ul>
       <li>Instagram</li>
       <li>Facebook</li>
       <li>YouTube</li>
       <li>Twitter</li>
   </ul>
</div>
<div id="subcribe">
    <form>
    <h2>Subcribe</h2>
    <input type="text" placeholder="Email" required><br><button type="submit">SIGN UP</button>
    </form>
</div>
</div>

</div>

<router-outlet></router-outlet>