<div class="about">
  <div id="about">
   <span id="para">
     <h3>We are software Engineering Team ready to deliver our services<br>to our well deserving customers globaly<br>around the continent!!!</h3>
   </span>
    
  <div class="team">
   <img src="../../assets/team.jpg" width="40" height="450" width="450"  alt="team">
  </div>
  <div class="more">
  <button type="text" (click)="moreContent()">Read more</button>
  <p *ngIf="showmore">Hello there<br>
    <button type="text"  (click)="moreContent()">Less</button>
</p>
   </div>
</div>https://github.com/Kingsly62/Github-Api
<app-footer></app-footer>https://github.com/Kingsly62/Github-Api'
'
/,M'
