nav ul{
    display: flex;
    list-style: none;
    gap: 10px;
    
}

nav ul li a{
    color: white;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav{
    background-color: darkslategray;
    padding: 20px;
}