<div class="signup">
    <h2 appCustomStyle>sign-up</h2>
   <div id="member">
      <form action="">
          <input type="text" placeholder="First  name" required><br>
          <input type="text" placeholder="Last name" required><br>
          <input type="email" placeholder="Email" required><br>
          <input type="password" placeholder="password" required><br>
          <h3>Already a member?</h3>
          <h3 id="login">Log in</h3>
          <button type="submit">Submit</button>
      </form>
   </div>
</div>
