<div class="home">

<div id="para">
<h3>We combine strategy,technology,<br>
data science and design to solve the <br>
most complex business challenges</h3>
</div>

<div class="button">
<button class="started" type="submit">Get Started</button>
</div>
 <div id="git">
    <h2>Username:Kingsly</h2>
    <h2>List of Projects/Repositories Worked On:</h2>
    <ul>
        <li><a href="https://github.com/Kingsly62/Quotes">Quotes</a></li>
        <li><a href="https://github.com/Kingsly62/Ghana-akans">Ghana-Akans</a></li>
        <li><a href="https://github.com/trevin-livele/food-vendor">Food-Vendor</a></li>
    </ul>
 </div>
 <div id="image1">
     <img src="../../assets/tech-product.jpg" height="350" width="350" alt="">
 </div>
</div>
<app-footer></app-footer>